.slider__card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	cursor: pointer;
	margin-right: 34px;
}

.card__image {
	width: 290px;
	height: 320px;
	/* background: url("./../../images/man-photo.png") no-repeat center; */
	object-fit: cover;
}

.card__image-active {
	border-bottom: 5px solid #fe8700;
}

.card__title {
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	color: #384758;
	margin-top: 20px;
}

.card__title-active {
	color: #fe8700;
}

.card__subtitile {
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	color: #606f81;
}

.card__subtitle-active {
	color: #fe8700;
}

@media screen and (max-width: 1350px) {
	.card__image {
		width: 220px;
	}
}

@media screen and (max-width: 1042px) {
	.card__image {
		width: 200px;
	}

	.card__title {
		font-size: 20px;
		line-height: 33px;
	}

	.card__subtitile {
		font-size: 16px;
		line-height: 24px;
	}
}

@media screen and (max-width: 475px) {
	.card__image {
		width: 100%;
	}

	.card__title {
		align-self: center;
	}

	.card__subtitile {
		align-self: center;
	}
}
