* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.App {
	background: #ffffff;
	font-family: "Poppins", sans-serif;
	margin: 0;
}

.container {
	max-width: 1280px;
	min-width: 320px;
	margin: 0 auto;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
}

.wrapper {
	display: grid;
	grid-template-columns: auto 938px;
	grid-gap: 34px;
	margin-top: 44px;
}

.citation-sign {
	width: 100px;
	height: 78px;
	background: url("./../images/citation-sign.png") no-repeat center;
	border: 0;
	outline: none;
}

.decoration-bottom {
	margin-top: 192px;
	width: 310px;
	height: 330px;
	background: url("./../images/decorration_bottom.png") no-repeat center;
	background-size: contain;
	object-fit: contain;
	position: absolute;
	top: 0;
	left: -120px;
	overflow: hidden;
	border: 0;
	outline: none;
}

.left-column {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: relative;
}

.text-block {
	display: flex;
	flex-direction: column;
	/* align-items: flex-start; */
	max-width: 910px;
	margin: 0 0 125px 0;
	align-self: flex-end;
}

.text-block__title {
	font-weight: 600;
	font-size: 48px;
	line-height: 100%;
	color: #384758;
	margin-bottom: 54px;
}

.text-block__subtitle {
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	color: #384758;
	margin-bottom: 7px;
}

.text-block__content {
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	color: #606f81;
	margin-bottom: 19px;
}
