* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.App {
	background: #ffffff;
	color: black;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-size: 12px;
	margin: 0;
}

.container {
	max-width: 1280px;
	min-width: 320px;
	margin: 0 auto;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
}

.title {
	margin: 64px auto 47px;
	font-weight: 600;
	font-size: 48px;
	line-height: 20px;
	color: #384758;
}

.subtitle {
	max-width: 432px;
	max-height: 60px;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	text-align: center;
	color: #606f81;
}

.slider {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 34px 20px;
	justify-content: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.arrow {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 31px auto 20px;
}

.arrow-left_image {
	width: 48px;
	height: 48px;
	background: url("./../images/left-circle.svg") no-repeat center;
	border: none !important;
	outline: none;
	margin: 0 19px 0 0;
	padding: 0;
	cursor: pointer;
}

.arrow-right_image {
	width: 48px;
	height: 48px;
	background: url("./../images/right-circle.svg") no-repeat center;
	border: 0;
	outline: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.slider__card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.slider__image {
	width: 290px;
	height: 320px;
	background: url("./../images/man-photo.png") no-repeat center;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card__title {
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	color: #384758;
	margin-top: 20px;
}

.card__subtitile {
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	color: #606f81;
}

.text-block {
	display: flex;
	flex-direction: column;
	/* align-items: flex-start; */
	max-width: 910px;
	margin: 44px 0 125px 0;
	align-self: flex-end;
}

.text-block__title {
	font-weight: 600;
	font-size: 48px;
	line-height: 100%;
	color: #384758;
	margin-bottom: 27px;
}

.text-block__subtitle {
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	color: #384758;
	margin-bottom: 7px;
}

.text-block__content {
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	color: #606f81;
	margin-bottom: 19px;
}
