.wrapper {
	display: grid;
	grid-template-columns: auto 938px;
	grid-gap: 34px;
	margin-top: 44px;
}

.citation-sign {
	width: 100px;
	height: 78px;
	background: url("./../../images/citation.svg") no-repeat center;
	border: 0;
	outline: none;
}

.decoration-bottom {
	margin-top: 192px;
	width: 310px;
	height: 330px;
	background: url("./../../images/decor_bottom.svg") no-repeat center;
	background-size: contain;
	object-fit: contain;
	position: absolute;
	top: 0;
	left: -120px;
	overflow: hidden;
	border: 0;
	outline: none;
}

.left-column {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: relative;
}

.text-block {
	display: flex;
	flex-direction: column;
	/* align-items: flex-start; */
	max-width: 910px;
	margin: 0 0 125px 0;
	align-self: flex-end;
}

.text-block__title {
	font-weight: 600;
	font-size: 48px;
	line-height: 100%;
	color: #384758;
	margin-bottom: 54px;
}

@media screen and (max-width: 1350px) {
	.wrapper {
		grid-template-columns: auto 720px;
	}
}

@media screen and (max-width: 1042px) {
	.wrapper {
		grid-template-columns: auto 640px;
	}
}

@media screen and (max-width: 933px) {
	.wrapper {
		grid-template-columns: 420px;
	}

	.citation-sign {
		align-self: flex-start;
	}

	.decoration-bottom {
		display: none;
	}
}

@media screen and (max-width: 475px) {
	.text-block__title {
		font-size: 32px;
	}

	.text-block__subtitle {
		font-size: 20px;
	}

	.text-block__content {
		font-size: 18px;
		padding: 5px;
	}
}

@media screen and (max-width: 456px) {
	.wrapper {
		grid-template-columns: 300px;
	}
}
