.main__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	position: relative;
	width: 1160px;
	overflow: hidden;
}

.window {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.arrow {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 31px auto 20px;
}

.button-left {
	width: 48px;
	height: 48px;
	background: url("./../../images/left-circle.svg") no-repeat center;
	border: none;
	outline: none;
	margin: 0 19px 0 0;
	padding: 0;
	cursor: pointer;
}

.button-left:hover {
	opacity: 0.7;
}

.button-right {
	width: 48px;
	height: 48px;
	background: url("./../../images/right-circle.svg") no-repeat center;
	border: 0;
	outline: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.button-right:hover {
	opacity: 0.7;
}

.all-items-container {
	/* display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 34px;
	justify-content: center;
	list-style-type: none;
	z-index: 1;
	margin: 0;
	padding: 0; */
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;

	transition: translate;
	transition-property: transform;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;
}

@media screen and (max-width: 1350px) {
	.slider {
		grid-gap: 24px;
	}
}

@media screen and (max-width: 933px) {
	.slider {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 20px;
	}
}

@media screen and (max-width: 475px) {
	.slider {
		grid-template-columns: 1fr;
		width: 100%;
	}

	.wrapper {
		align-self: center;
	}
}
