.arrow {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 31px auto 20px;
}

.arrow-left_image {
	width: 48px;
	height: 48px;
	background: url("./../../images/left-circle.svg") no-repeat center;
	border: none !important;
	outline: none;
	margin: 0 19px 0 0;
	padding: 0;
	cursor: pointer;
}

.arrow-right_image {
	width: 48px;
	height: 48px;
	background: url("./../../images/right-circle.svg") no-repeat center;
	border: 0;
	outline: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.slider {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 34px 20px;
	justify-content: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.slider__card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.slider__image {
	width: 290px;
	height: 320px;
	background: url("./../../images/man-photo.png") no-repeat center;
}

.card__title {
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	color: #384758;
	margin-top: 20px;
}

.card__subtitile {
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	color: #606f81;
}
